@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,700);
@import url(https://fonts.googleapis.com/css?family=Jacques+Francois);
body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5em;
  background-color: #FFFFFF;
  margin-bottom: 5%;
  padding: 1px;
  color:#000000;
}

a {
  color: #0000b3;
}

.nava {
  color:	#d6f5d6;
  }


h1 {
font-size: 3.5em;
font-family: "Jacques Francois", serif;
color: #FFFFFF;
text-align: left;
margin-left: 0%;
text-shadow: 1.2px 1.2px #000000;
}

.headbar1 {
  font-size: 2em;
  text-align: left;
}

h2 {
font-size: 1.5em;
text-align: left;
margin-left: 0.5%;
margin-bottom: 0%;
margin-top: 0%;
color: #FFFFFF;
text-shadow: 1.1px 1.1px #000000;
}

.headbar2 {
  font-size: 1.2em;
  text-align: left;

}

h3 {
font-size: 2em;
text-align: center;
color:#000000;
}

h4 {
  font-size: 1.5em;
  text-align: left;
  margin-left: 0%;
  color:#000000;
}

h5 {
  font-size: 1.8em;
  text-align: left;
  margin-left: 0%;
  color:#000000;
  margin-top: 1%;

}


.nav {
   margin-left: 1.4%;
   font-size: 1em;
   background-image: url("images/forest_floor_green.jpg");
   margin-right: 1.3%;
   }



.preface {
  margin-left: 2%;
  float: left;
}

.column1 {
  float: left;
  margin-left: 0%;
}

.column2 {
  margin-left:15%;
  float: left;
}

.column3 {
  margin-left: 1.2%;
  float: left;
}

.column4 {
  margin-left:4%;
  float: left;
}

.row1 {
  background-image: url("images/forest_floor_green.jpg");
  margin-right: 0%;
  margin-left: 0%;
  margin-right: 1.3%;
}
